{% extends 'base.html' %}
{% load static %}

{% block content %}
  <input type="file" accept="image/*" onchange="update(event);">
  <img class="loading" width="150" src="{% static 'loading.svg' %}">
  <div class="flex">
    <img id="preview" width="500">
    <div class="center" id="vals"></div>
  </div>
{% endblock %}

{% block script %}
  <script>
    function update(event) {
      const [file] = event.target.files;
      if (file) {
        loading();
        setTimeout(display, 2000);
      } else {
        document.getElementById("preview").textContent = "";
      }
    }

    function loading() {
      const loading = document.querySelector(".loading");
      loading.style.display = "block";
    }

    function display() {
      const preview = document.getElementById("preview");
      const loading = document.querySelector(".loading");
      loading.style.display = "none";
      preview.src = "{% static 'detect.jpg' %}";
      const vals = document.getElementById("vals");
      vals.innerHTML = `
        <span style="font-size: 24px;">พบแมลง 102 ตัว</span>
        <span style="font-size: 24px; color: red;">พบแมลงไม่ดี 57 ตัว</span>
        <span style="font-size: 24px; color: blue;">พบแมลงดี 45 ตัว</span>
        <br>
        <button>รายละเอียด</button>
        <a class="flex" href="{% url 'simulation' %}">Simulation</a>
      `;
    }
  </script>
{% endblock %}

{% block styles %}
  <style>
    .result {
      display: flex;
    }

    #preview {
      margin: 10px;
    }
  </style>
{% endblock %}
