{% extends 'base.html' %}
{% load static %}

{% block content %}
  <input type="file" accept="image/*" onchange="update(event);">
  <img class="loading" width="150" src="{% static 'loading.svg' %}">
  <div class="flex">
    <img id="preview" width="500">
    <div class="center" id="vals"></div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'templates/detect.js' %}"></script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'templates/detect.css' %}">
{% endblock %}
