{% extends 'base.html' %}
{% load static %}

{% block content %}
  <button id="start" onclick="start()">Start simulation!</button>
  <img class="loading" width="150" src="{% static 'loading.svg' %}">
  <div id="result" class="center">
    <img id="frame" height="500">
    <p id="clock"></p>
    <div id="controls" class="flex">
      <button onclick="toStart()"><i class="fa-solid fa-backward-fast"></i></button>
      <button onclick="prev()"><i class="fa-solid fa-backward-step"></i></button>
      <button onclick="playpause()"><i id="playpause" class="fa-solid fa-play"></i></button>
      <button onclick="repeat()"><i id="repeat" class="fa-solid fa-repeat"></i></button>
      <button onclick="next()"><i class="fa-solid fa-forward-step"></i></button>
      <button onclick="toEnd()"><i class="fa-solid fa-forward-fast"></i></button>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'templates/simulation.js' %}"></script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'templates/simulation.css' %}">
{% endblock %}
