{% extends 'base.html' %}
{% load static %}

{% block content %}
  <button id="start" onclick="start()">Start simulation!</button>
  <img class="loading" width="150" src="{% static 'loading.svg' %}">
  <div class="center" id="result">
    <img id="frame" width="500"></img>
    <p id="clock"></p>
    <div class="flex" id="controls">
      <button onclick="toStart()"><i class="fa-solid fa-backward-fast"></i></button>
      <button onclick="prev()"><i class="fa-solid fa-backward-step"></i></button>
      <button onclick="playpause()"><i id="playpause" class="fa-solid fa-pause"></i></button>
      <button onclick="next()"><i class="fa-solid fa-forward-step"></i></button>
      <button onclick="toEnd()"><i class="fa-solid fa-forward-fast"></i></button>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    let data = null;
    let tick = 0;
    let playing = false;

    async function start() {
      document.getElementById("start").disabled = true;
      document.querySelector(".loading").style.display = "block";
      data = await fetch("/websim/").then((res) => res.json());
      load();
    }

    function load() {
      document.querySelector(".loading").style.display = "none";
      document.getElementById("start").style.display = "none";
      document.getElementById("result").style.display = "block";
      document.getElementById("controls").style.display = "flex";
      loadFrame();
    }

    function loadFrame() {
      const [frame, clock] = ["frame", "clock", "controls"].map((id) => document.getElementById(id));
      const playpause = document.getElementById("playpause")
      playpause.className = [playpause.className.split(" ")[0], playing ? "fa-pause" : "fa-play"].join(" ");
      const endTick = data.dur;
      frame.src = `{% get_media_prefix %}runs/${data.dt}/${tick.toString().padStart(4, "0")}.png`;
      clock.textContent = `${tick}/${data.dur}`;
    }

    function playpause() {
      playing = !playing;
      loadFrame();
      const f = () => {
        tick++;
        if (tick > data.dur) tick = 0;
        loadFrame();
        if (playing) setTimeout(f, 100);
      }
      f();
    }

    function prev() {
      tick--;
      if (tick < 0) tick = data.dur;
      playing = false;
      loadFrame();
    }

    function next() {
      tick++;
      if (tick > data.dur) tick = 0;
      playing = false;
      loadFrame();
    }
    
    function toStart() {
      tick = 0;
      playing = false;
      loadFrame();
    }
    
    function toEnd() {
      tick = data.dur;
      playing = false;
      loadFrame();
    }
  </script>
{% endblock %}

{% block styles %}
  <style>
    #result {
      display: none;
    }

    #clock {
      text-align: center;
    }

    #controls>button {
      width: 30px;
      height: 30px;
    }

    #controls>button:active {
      border-style: inset;
    }
  </style>
{% endblock %}
